//-
//- Copyright (C) 2013 Christian Hoffmeister
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with this program. If not, see {http://www.gnu.org/licenses/}.
//-
doctype 5
html
    head
        meta(charset="utf-8")
        title core:ci
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/styles/main.css")
        script(data-main="/src/app", src="/bower_components/requirejs/require.js", async)
    body
        div#wrap
            header.clearfix
                div.container
                    include partials/header
            section(ng-view).clearfix
        footer.clearfix
            div.container
                include partials/footer
