//-
//- Copyright (C) 2013 Christian Hoffmeister
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with this program. If not, see {http://www.gnu.org/licenses/}.
//-
.container
	p(ng-repeat="task in tasks")
		a(href="/task/{{task.id}}", ng-switch="task.state")
			span.label.label-success(ng-switch-when="Succeeded") {{task.id | guidShort}}
			span.label.label-info(ng-switch-when="Running") {{task.id | guidShort}}
			span.label.label-default(ng-switch-when="Pending") {{task.id | guidShort}}
			span.label.label-danger(ng-switch-when="Failed") {{task.id | guidShort}}
