//-
//- Copyright (C) 2013 Christian Hoffmeister
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with this program. If not, see {http://www.gnu.org/licenses/}.
//-
.task(ng-repeat="task in tasks", data-goto="/task/{{task.id}}")
	.container.clearfix
		span.pull-left(ng-switch="task.state")
			span.glyphicon.glyphicon-ok.success-colored(ng-switch-when="Succeeded")
			span.glyphicon.glyphicon-remove.danger-colored(ng-switch-when="Failed")
		span.pull-left {{task.commitMessage}}
		span.pull-right {{task.createdAt | date}}
