//-
//- Copyright (C) 2013 Christian Hoffmeister
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with this program. If not, see {http://www.gnu.org/licenses/}.
//-
.container.container-page
	.panel.panel-default
		.panel-heading
			.btn-group.pull-right
				button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown") Add
				ul.dropdown-menu(role="menu")
					li(ng-repeat="connector in connectors"): a(href="/project/add/{{connector.provider}}/{{connector.id}}") From {{connector.provider}}
			div Projects
		.panel-body
			div(ng-repeat="project in projects", style="padding: 8px 0;")
				button.btn.btn-default.btn-xs.pull-right(ng-click="removeProject(project)") Remove
				span {{project.fullName}}
			div(ng-show="!projects || projects.length == 0") No projects added.

	.panel.panel-default
		.panel-heading
			.btn-group.pull-right
				button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown") Add
				ul.dropdown-menu(role="menu")
					li: a(href="/connect/github") Connect with GitHub
			div Connectors
		.panel-body
			div(ng-repeat="connector in connectors")
				div {{connector.provider}} ({{connector.options.UserName}})
			div(ng-show="!connectors || connectors.length == 0") No connectors added.
