//-
//- Copyright (C) 2013 Christian Hoffmeister
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with this program. If not, see {http://www.gnu.org/licenses/}.
//-
include ../mixins/inputelements

.container.container-page
	div.alert.alert-warning(ng-show="message.type == 'warning'") {{message.text}}
	div.alert.alert-danger(ng-show="message.type == 'error'") {{message.text}}
	form(ng-submit="submit()", autocomplete="off", role="form")
		+input-text("userName", "User name", "Choose a user name")(ng-model="userName")
		+input-email("email", "E-Mail", "Your E-Mail address")(ng-model="email")
		+input-password("password", "Password", "Choose a password")(ng-model="password")
		+input-password("passwordRepeated", "Password repeated", "Repeat your chosen password")(ng-model="passwordRepeated")
		+input-submit("Register").btn-primary.input-lg
