<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="coordinatorApiBaseAddress" value="http://localhost:8080/api/" />
		<add key="vagrantExecutablePath" value="/usr/bin/vagrant" />
		<add key="vagrantVirtualMachinesPath" value="/tmp/core-ci" />
	</appSettings>
</configuration>