<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- configuration for server -->
		<add key="apiBaseAddress" value="http://localhost:8080/api/" />
		<add key="workerIntegrated" value="true" />
		<!---configuration for integrated worker instance -->
		<add key="workerId" value="ac1e8e1f-7ba8-4a12-a8a7-e0b070c2faae" />
		<add key="coordinatorApiBaseAddress" value="http://localhost:8080/api/" />
		<add key="vagrantExecutablePath" value="/usr/bin/vagrant" />
		<add key="vagrantVirtualMachinesPath" value="/tmp/core-ci" />i
	</appSettings>
</configuration>