<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="coreciDatabase" connectionString="Server=mongodb://localhost;Database=coreci" />
	</connectionStrings>
	<appSettings>
		<!-- configuration for server -->
		<add key="serverApiBaseAddress" value="http://*:8080/api/" />
		<add key="serverApiPublicBaseAddress" value="http://localhost/api/" />
		<add key="serverWebAppPublicBaseAddress" value="http://localhost/" />
		<add key="serverWorkerIntegrated" value="true" />
		<add key="oauthGitHubConsumerKey" value="6a3fde426c9c0c7ff42f" />
		<add key="oauthGitHubConsumerSecret" value="" />
		<add key="oauthGitHubRedirectUrl" value="http://localhost/" />
		<add key="oauthGitHubScopes" value="repo" />
		<!---configuration for integrated worker instance -->
		<add key="workerServerApiBaseAddress" value="http://localhost:8080/api/" />
		<add key="workerId" value="ac1e8e1f-7ba8-4a12-a8a7-e0b070c2faae" />
		<add key="workerVagrantExecutablePath" value="/usr/bin/vagrant" />
		<add key="workerVagrantVirtualMachinesPath" value="/tmp/core-ci" />
	</appSettings>
</configuration>