<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logDirectory" value="${basedir}/logs" />
	<targets>
		<target xsi:type="Console" name="ConsoleLogger" layout="${longdate} [${uppercase:${level}}] ${logger} ${message}" />
		<target xsi:type="File" name="FileLogger" fileName="${logDirectory}/Log.txt" layout="${longdate} [${uppercase:${level}}] ${logger} ${message}" />
		<target xsi:type="File" name="FileErrorLogger" fileName="${logDirectory}/Error.txt" layout="${longdate} [${uppercase:${level}}] ${logger} ${message}" />
		<target xsi:type="Debugger" name="DebuggerLogger" layout="${longdate} [${uppercase:${level}}] ${logger} ${message}" />
	</targets>
	<rules>
		<logger name="*" writeTo="ConsoleLogger">
			<filters>
				<!--- ignore worker alive messages -->
				<when condition="ends-with('${message}','alive')" action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="Trace" writeTo="DebuggerLogger" />
		<logger name="*" minlevel="Trace" writeTo="FileLogger" />
		<logger name="*" minlevel="Error" writeTo="FileErrorLogger" />
	</rules>
</nlog>